<div class="container">
  <div class="card m-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="card-header" [ngClass]="{'pink-bg': authService?.userValue?.role === 0}">
        <span>My Profile</span>
      </div>
      <div class="card-body white-bg card-scroll">
        <div class="row">
          <div class="col-9">
            <div class="form-row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput type="text" formControlName="firstname" id="firstname" placeholder="Enter First Name">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput type="lastname" formControlName="lastname" id="lastname"
                    placeholder="Enter Last Name">
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="profilemail" id="profilemail"
                    placeholder="Please Provide a Valid Email">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input matInput type="tel" formControlName="profilephone" id="profilephone"
                    placeholder="Please Provide a Valid Phone">
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <mat-label>Sex: </mat-label>
                <mat-radio-group formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                  <mat-radio-button value="1">Male</mat-radio-button>
                  <mat-radio-button value="2">Female</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                  <div *ngIf="f.gender.errors.required">Gender is Required</div>
                </div>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label for="birthdate">Date Of Birth</mat-label>
                  <input matInput formControlName="birthdate" type="date" id="birthdate" [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }">
                  <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                    <div *ngIf="f.birthdate.errors.required">Date Of Birth is required</div>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-3">
            <img [src]="userForm.get('profilePic').value" alt="upload image" (click)="openDialog()" class="img img-thumbnail">
          </div>
        </div>
        <!-- <div class="address-divider">Address:</div> -->
        <h4 class="address-div">Address</h4>
        <div class="row">
          <div class="col">
            <div class="form-row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label for="streetAddress1">Street Address</mat-label>
                  <input type="text" matInput formControlName="streetAddress1" id="streetAddress1"
                    placeholder="1234 Main St" [ngClass]="{ 'is-invalid': submitted && f.streetAddress1.errors }">
                    <div *ngIf="submitted && f.streetAddress1.errors" class="invalid-feedback">
                      <div *ngIf="f.streetAddress1.errors.required">Address is required</div>
                    </div>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label for="streetAddress2">Strret Address Line 2</mat-label>
                  <input type="text" matInput formControlName="streetAddress2" id="streetAddress2"
                    placeholder="Apartment, studio, or floor">
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label for="inputCity">City</mat-label>
                  <input type="text" matInput formControlName="inputCity" id="inputCity" [ngClass]="{ 'is-invalid': submitted && f.inputCity.errors }">
                  <div *ngIf="submitted && f.inputCity.errors" class="invalid-feedback" >
                    <div *ngIf="f.inputCity.errors.required">City is required</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label for="stateCode">State</mat-label>
                  <mat-select id="stateCode" formControlName="stateCode" [ngClass]="{ 'is-invalid': submitted && f.stateCode.errors }">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let state of staticData?.states" [value]="state.stateCd">
                      {{state.stateName}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.stateCode.errors" class="invalid-feedback">
                    <div *ngIf="f.stateCode.errors.required">State is required</div>
                  </div>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label for="inputPin">PinCode</mat-label>
                  <input matInput type="text" matInput id="inputPin" formControlName="inputPin" [ngClass]="{ 'is-invalid': submitted && f.inputPin.errors }">
                  <div *ngIf="submitted && f.inputPin.errors" class="invalid-feedback">
                    <div *ngIf="f.inputPin.errors.required">Pincode is required</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label for="national">Nationality</mat-label>
                  <mat-select id="national" formControlName="national" [ngClass]="{ 'is-invalid': submitted && f.national.errors }">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let country of staticData?.countries" [value]="country.countryCd">
                      {{country.countryName}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.national.errors" class="invalid-feedback">
                    <div *ngIf="f.national.errors.required">Country is required</div>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <h4 class="address-div">Professional Background</h4>
        <div class="row">
          <div class="form-group col-12">
            <mat-label>Professional Background</mat-label>
            <mat-radio-group formControlName="backgroundtype">
              <mat-radio-button value="1">Academic</mat-radio-button>
              <mat-radio-button value="2">Non Academic</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-12">
            <span [ngSwitch]="userForm.get('backgroundtype').value === '1' ">
            <span *ngSwitchCase="true">
              <div class="form-row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="medium">Medium Of Education</mat-label>
                    <input type="text" matInput formControlName="medium" id="medium" placeholder="Type your text here..">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="subject">Subject Selection</mat-label>
                    <input type="text" matInput formControlName="subject" id="subject"
                      placeholder="Type your text here..">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="board">Education Board</mat-label>
                    <input type="text" matInput formControlName="board" id="board">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="standard">Class/Grade</mat-label>
                    <input type="text" matInput formControlName="standard" id="standard">
                  </mat-form-field>
                </div>
              </div>
            </span>
            <span *ngSwitchCase="false">
              <div class="form-row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="nacategory">Type Of Category/Activity</mat-label>
                    <mat-select id="nacategory" formControlName="nacategory">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let cat of nacategories; let i= index" [value]="cat.value">
                        {{cat.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="nasubcategory">Sub Category</mat-label>
                    <mat-select id="nasubcategory" formControlName="nasubcategory">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let subcat of getSubCategory()" [value]="subcat?.value">
                        {{subcat?.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row" *ngIf="authService?.userValue?.role === 1">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="agegroup">Age Group</mat-label>
                    <mat-select id="agegroup" formControlName="agegroup">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let group of agegroups" [value]="group.value">
                        {{group.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="certification">Certification Details</mat-label>
                    <input type="text" matInput formControlName="certification" id="certification">
                  </mat-form-field>
                </div>
              </div>
            </span>
            </span>
 
            <div class="form-row" *ngIf="authService?.userValue?.role === 1">
                <div class="col-md-6">
                  <span [ngSwitch]="userForm.get('backgroundtype').value === '1'">
                    <span *ngSwitchCase="true">
                  <mat-form-field appearance="outline">
                    <mat-label for="qualification">Highest Education Qualification</mat-label>
                    <mat-select id="qualification" formControlName="qualification">
                      <mat-option *ngFor="let qualify of qualifications" [value]="qualify.value">{{qualify.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </span>
                <span *ngSwitchCase="false">
                
                </span>
                </span>
                </div>

              <div class="form-group col-md-6">
                <mat-label>Do you have a teacher Qualification?</mat-label>
                <mat-radio-group formControlName="isteacher">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="form-row" *ngIf="authService?.userValue?.role === 1">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label for="tutorexp">If you have tutored before, tell us about it here.</mat-label>
                  <textarea matInput id="tutorexp" formControlName="tutorexp"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <h4 class="address-div" *ngIf="authService?.userValue?.role === 1">Tutor Details</h4>
        <div class="row">
          <div class="col-12">
            <div *ngIf="authService?.userValue?.role === 1">
              <div class="form-row">
                <div class="col-md-6">
                  <mat-label>Preferred Teaching Style</mat-label>
                  <mat-radio-group formControlName="tutorpreference">
                    <mat-radio-button value="Online">Online</mat-radio-button>
                    <mat-radio-button value="Offline">Offline</mat-radio-button>
                    <mat-radio-button value="Both">Both</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-md-6">
                  <mat-label>Which days are you able to tutor?</mat-label>
                  <section>
                    <mat-checkbox class="day-margin" [checked]="allChecked" (change)="changeAll($event.checked)">All
                    </mat-checkbox>
                    <mat-checkbox class="day-margin" [checked]="day.selected" (change)="changeDays($event.checked, day)"
                      *ngFor="let day of days">{{day.day | slice:0:3}}</mat-checkbox>
                  </section>
                  <!-- <mat-selection-list #dat>
                            <mat-list-option *ngFor="let day of days">
                              {{day | slice:0:3}}
                            </mat-list-option>
                          </mat-selection-list> -->
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="distance">How far would you travel to tutor?</mat-label>
                    <input type="text" matInput formControlName="distance" id="distance"
                      placeholder="Type your text here..">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="timing">Which times are you available.</mat-label>
                    <input type="text" matInput formControlName="timing" id="timing"
                      placeholder="Type your text here..">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="rate">Hourly Rate</mat-label>
                    <input type="text" matInput formControlName="rate" id="rate">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="currency">Currency</mat-label>
                    <input type="text" matInput formControlName="currency" id="currency">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="d-flex">
                    <mat-form-field appearance="outline">
                      <mat-label for="proof">Government ID proof</mat-label>
                      <mat-select id="proof" formControlName="proof">
                        <mat-option selected value="Drivers Licence">Drivers Licence</mat-option>
                        <mat-option value="Aadhar Card">Aadhar Card</mat-option>
                        <mat-option value="Other">Other</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="pl-2 pr-2">
                      <input type="file" #file formControlName="proofDoc" placeholder="Choose file" name="formFile" (change)="uploadFile(file.files, 1)" style="display:none;">
                      <button type="button" class="btn btn-success" (click)="file.click()">Browse</button>
                      <!-- <ngx-mat-file-input formControlName="proofDoc" id="proofDoc">
                      </ngx-mat-file-input> -->
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="demo">Teaching Demo Link</mat-label>
                    <input matInput type="text" matInput id="demo" formControlName="demo">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label for="interests">To help us make this match give us some idea of your interests, hobbies
                    etc.</mat-label>
                  <textarea matInput id="interests" formControlName="interests"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer bg-light">
        <mat-card-actions class="footer-buttons clearfix">
          <button mat-raised-button color="secondary" (click)="reset()" class="m-2">Reset</button>
          <div class="float-right">
            <button mat-raised-button  color="secondary" class="m-2">Cancel</button>
            <button mat-raised-button type="submit" color="accent" class="m-2">Update Profile</button>
          </div>
        </mat-card-actions>
      </div>
    </form>
  </div>
</div>
