<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.materialId}}</td>
    </ng-container>

     <!-- Id Column -->
     <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
      <td mat-cell *matCellDef="let row">{{row.subject}}</td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade</th>
        <td mat-cell *matCellDef="let row">{{row.grade}}</td>
      </ng-container>


    <ng-container matColumnDef="topic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Topic</th>
      <td mat-cell *matCellDef="let row">{{row.topic}}</td>
    </ng-container>

    <ng-container matColumnDef="files">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Attachments</th>
      <td mat-cell *matCellDef="let row"><a (click)="downloadFile(row.files)">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
        <path fill-rule="evenodd"
          d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
      </svg> Download
        </a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15, 20]">
  </mat-paginator>
</div>




<!-- <div class="tcontainer">
  <div class="ticker-wrap">
      <div class="ticker-move">
          <div class="ticker-item" *ngFor="let item of slides">
              <div class="d-flex border rounded m-2 justify-content-center">
                  <div class="p-2 bg-white">
                      <div class="m-2 card-width">
                        <div class="card text-left">
                          <div class="card-body">
                            <video class="video-fluid" autoplay loop muted>
                              <source [src]="item.video" type="video/mp4" />
                            </video>
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Body</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="container mt-2">
  <app-carouselhelper [slidesStore]="slides"></app-carouselhelper>
</div>

