.example-spacer {
    flex: 1 1 auto;
  }

  .mat-list-item-content{
    padding: 0 8px;
  }

  .profile-pic{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #1b2437;
  }