<mat-toolbar color="secondary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span class="example-spacer"></span>

      <div>
        <mat-nav-list class="d-flex flex-row">
          <mat-list-item fxHide.xs>
            <button mat-icon-button>
              <mat-icon>notifications</mat-icon>
            </button>
          </mat-list-item>
         
          <mat-list-item>
            <button mat-icon-button [matMenuTriggerFor]="auth">
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #auth="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
          </mat-list-item>
          <mat-list-item fxHide.xs>
           {{user.firstName}} {{user.lastName}}
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
