<mat-toolbar class="bg-white">
  <mat-toolbar-row>
    <span [ngSwitch]="navClicked">
      <a *ngSwitchCase="true" [routerLink]="['/dashboard']">
        <img src="assets/icons/vidhya-sandhhan.svg">
      </a>
      <a *ngSwitchCase="false" [routerLink]="['/dashboard']">
        <img src="assets/vidhyasadhan-logo.svg">
      </a>
    </span>
    <a mat-icon-button (click)="menuClicked()" class="d-none d-sm-block">
      <mat-icon>menu</mat-icon>
    </a>

    <span class="example-spacer"></span>

    <a mat-icon-button [matMenuTriggerFor]="notificationid" class="d-block d-sm-none">
      <mat-icon matBadge="{{notifications.length}}" matBadgeColor="warn">notifications</mat-icon>
    </a>
    <mat-menu #notificationid="matMenu">
      <div class="list-group">
        <a mat-menu-item class="list-group-item list-group-item-warning" *ngFor="let note of notifications">
          {{note.message}}
        </a>
      </div>
    </mat-menu>

    <a mat-icon-button [matMenuTriggerFor]="auth1" class="d-block d-sm-none">
      <!-- <mat-icon>account_circle</mat-icon> -->
      <img class="rounded-circle" width="25" height="25" [src]="user.profilePic || 'assets/avatar.svg'" />
    </a>
    <mat-menu #auth1="matMenu">
      <a mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </a>
    </mat-menu>
    <a mat-icon-button (click)="smallmenuClicked()" class="d-block d-sm-none">
      <mat-icon>menu</mat-icon>
    </a>


    <div class="d-none d-sm-block">
      <ul class="navbar-nav flex-row">
        <li fxHide.xs class="nav-item active">
          <a mat-icon-button class="nav-link" [matMenuTriggerFor]="notificationid">
            <mat-icon matBadge="{{notifications.length}}" matBadgeColor="warn">notifications</mat-icon>
          </a>
          <mat-menu #notificationid="matMenu">
            <div class="list-group">
              <a mat-menu-item class="list-group-item list-group-item-warning" *ngFor="let note of notifications">
                {{note.message}}
              </a>
            </div>
          </mat-menu>
        </li>

        <li class="nav-item">
          <a mat-icon-button [matMenuTriggerFor]="auth" class="nav-link">
            <!-- <mat-icon>account_circle</mat-icon> -->
            <img class="rounded-circle" width="25" height="25" [src]="user.profilePic || 'assets/avatar.svg'" />
          </a>
          <mat-menu #auth="matMenu">
            <a mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </a>
          </mat-menu>
        </li>
        <li fxHide.xs class="nav-item">
          <a class="nav-link profile-pic">{{user.firstName}} {{user.lastName}}</a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="smClicked" class="h-100 d-block d-sm-none toolbar" [ngClass]="authService.userValue?.role === 0 ? 'student' : 'tutor'">
    <ng-container [ngSwitch]="authService.userValue?.role === 0">
      <ng-container *ngSwitchCase="true">
        <ul class="navbar-nav mt-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/classroom']" >
              <img class="img-nav" src="assets/Student/noun-teaching-2380320.svg"> My Classroom <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/tutors']">
              <img class="img-nav" src="assets/Student/noun-assignment-3202074.svg">Book Tutor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/profile']">
              <img class="img-nav" src="assets/Student/path.svg">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/student/assignments']">
              <img class="img-nav" src="assets/Student/my-earnings.svg">Study Material</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/progress']">
              <img class="img-nav" src="assets/Student/chart-pie-36.svg">Progress Report</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
      </ng-container>
      <ng-container *ngSwitchCase="false">
        <ul class="navbar-nav mt-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/classroom']">
              <img class="img-nav" src="assets/dashboard/noun-teaching-2380320.svg">My Classroom <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/requests']">
              <img class="img-nav" src="assets/dashboard/noun-assignment-3202074.svg">Student Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/profile']">
              <img class="img-nav" src="assets/dashboard/path.svg">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked"  [routerLink]="['/vs/events']">
              <img class="img-nav" src="assets/dashboard/vector.svg">My Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked"  [routerLink]="['/vs/earnings']">
              <img class="img-nav" src="assets/dashboard/my-earnings.svg">My Earnings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="smClicked = !smClicked" [routerLink]="['/vs/tutor-referrals']">
              <img class="img-nav" src="assets/dashboard/my-referrals.svg">My Referrals</a>
          </li>
        </ul>
      </ng-container>
    </ng-container>


  </mat-toolbar-row>
</mat-toolbar>
