<div class="about-bg">
  <div class="about-text">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 text-left">
          <p class="about-us">HOME/ABOUT US</p>
          <h2 class="welove-text">We provide Great service,
            Professional support.</h2>
          <p class="platform">VidhyaSadhan is a platform to change the way you Study and Teach.</p>
          <a class="btn btn-primary get-start" href="#" role="button"><span>GET STARTED</span></a>
        </div>
        <div class="col-md-6 offset-md-1">
          <img src="assets/website/aboutus/about-1.png"
            srcset="assets/website/aboutus/about-1-1.png 2x,assets/website/aboutus/about-1-2.png 3x" class="about-us-1">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-vs">
  <div class="container">
    <div class="about-vs-text">
      <div class="m-2">
        <img src="assets/website/aboutus/about-2.png"
          srcset="assets/website/aboutus/about-2-1.png 2x,assets/website/aboutus/about-2-2.png 3x" class="about-us-1">
      </div>
      <div class="m-2">
        <h3 class="card-title we-love-dev">About VidhyaSadhan</h3>
        <p class="we-love-dev-text about-us-1">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
          in the 1960s with the release of Letraset sheets containing.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="history">
    <div class="text-center">
      <h2 class="history-text">Our History</h2>
      <div class="d-flex justify-content-between">
        <div>
          <div class="history-card">
            <h4 class="history-head">May 2020</h4>
            <div>
              Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem. Curabitur aliquam tellus eu nisl suscipit,
              at vestibulum ex rutrum. Nulla facilisi. Cras ullamcorper pellentesque orci, nec vestibulum
              nibh.uspendisse
            </div>
          </div>
          <div class="history-card">
            <h4 class="history-head">July 2020</h4>
            <div class="">
              Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem. Curabitur aliquam tellus eu nisl suscipit,
              at vestibulum ex rutrum. Nulla facilisi. Cras ullamcorper pellentesque orci, nec vestibulum
              nibh.uspendisse
            </div>
          </div>
        </div>
        <div class="history-line">
          <div class="history-line-bar" *ngFor="let number of [0,1,2,3,4,5,6,7]">
          </div>
        </div>
        <div>
          <div class="history-card-right">
            <h4 class="history-head">June 2020</h4>
            <div>
              Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem. Curabitur aliquam tellus eu nisl suscipit,
              at vestibulum ex rutrum. Nulla facilisi. Cras ullamcorper pellentesque orci, nec vestibulum
              nibh.uspendisse
            </div>
          </div>
        </div>
      </div>
      <p class="to-be-continue">To be Continue....</p>
    </div>

  </div>
</div>
<div class="team bg-white">
  <div class="team-cards">
    <h2 class="history-text">Meet the team</h2>
    <div class="team-card-parent">
      <div class="child child1">
      </div>
      <div class="child child2">
      </div>
      <div class="child child3">
        <div class="child-text">
          <h6>CEO</h6>
          <p>Subash Reddy. M</p>
        </div>
      </div>
      <div class="child child4">
      </div>
      <div class="child child5">
      </div>
    </div>
  </div>
</div>
<app-sitesubscribe></app-sitesubscribe>
