<div class="m-4">
  <p class="bg-tutor-primary m-2 classroom" [ngClass]="{'student-header': auth.userValue.role === 0}">My Classroom</p>
  <mat-tab-group mat-align-tabs="end" [color]="colors.font" class="tabheader" [ngClass]="{'bg-pink': auth.userValue.role === 0}"
   [backgroundColor]="colors.background">
    <mat-tab label="TIMETABLE">
      <ng-template matTabContent>
        <app-calendar></app-calendar>
      </ng-template>
    </mat-tab>
    <mat-tab label="ASSIGNMENT" *ngIf="auth.userValue.role !== 0">
      <ng-template matTabContent>
        <app-assignments></app-assignments>
      </ng-template>
    </mat-tab>
    <mat-tab label="ASSIGNMENT" *ngIf="auth.userValue.role === 0">
      <ng-template matTabContent>
        <app-student-assignments></app-student-assignments>
      </ng-template>
    </mat-tab>
    <mat-tab label="Evaluate" *ngIf="auth.userValue.role !== 0">
      <ng-template matTabContent>
        <app-evaluate></app-evaluate>
      </ng-template>
    </mat-tab>
    <mat-tab label="ATTENDANCE SHEET">
      <ng-template matTabContent>
        <app-attendance></app-attendance>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
