<div class="bg-dark">
  <div class="d-flex justify-content-between flex-wrap text-footer">
    <div>
      <img src="assets/website/vidhyasadhan.svg"  class="img img-fluid site-img">
      <p>
        Lorem ipsum dolor sit amet, magna habemusius ad, qui minimum voluptaria in. Ad mei modus quodsi complectitur, postea...
      </p>
      <div>
        <ul class="list-inline">
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        VidhyaSadhan Links
      </div>
      <ul class="list-unstyled">
        <li class="list-item">Home</li>
        <li class="list-item">About Us</li>
        <li class="list-item">Features</li>
        <li class="list-item">Pricing</li>
        <li class="list-item">Contact Us</li>
      </ul>
    </div>
    <div>

    </div>
  </div>

</div>

