.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: cadetblue;
  color: #ffffff;
  background-image: linear-gradient(to bottom, var(--ice-blue) 13%, #bcdafc);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: cadetblue;
  color: #ffffff;
}

.mat-list-item{
  color: #ffffff;
}

.mat-list-item:hover{
  background-color: #000012;
}
