<ng-container>
  <div class="card card-min-height">
    <div class="card-header material-bg">
      <div class="d-flex justify-content-between">
        <div>
          <a *ngIf="selectdetail" (click)="selectdetail = !selectdetail">
            <mat-icon>west</mat-icon>
          </a> Assignments
        </div>
        <div *ngIf="!selectdetail">
          <a (click)="nextClick('left')">
            <mat-icon>chevron_left</mat-icon>
          </a>
          <span>{{month | date: 'MMMM , yyyy'}}</span>
          <a (click)="nextClick('right')">
            <mat-icon>chevron_right</mat-icon>
          </a>
        </div>
        <div></div>
      </div>
    </div>
    <span [ngSwitch]="selectdetail">
      <form [formGroup]="assignmentFormForm" novalidate (ngSubmit)="onSubmit()" *ngSwitchCase="true">
        <div class="card-body">
          <div class="container">

            <div class="row">
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="subject" formControlName="subject">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="title" formControlName="title">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="grade" formControlName="grade">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Due Date" formControlName="dueDate">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Tutor" formControlName="tutor">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Points" formControlName="points">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Instructions" formControlName="instructions"></textarea>
                </mat-form-field>
              </div>
              <div class="col-4">
                assignment file <button mat-icon-button color="accent">
                  <mat-icon>cloud_download</mat-icon>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="file-container" appDragndir (fileDropped)="dropped($event)">
                <input type="file" class="fileinput" #fileDropRef id="fileDropRef" formControlName="submissionFile"
                  (change)="filesBrowse($event.target.files)" />
                <h3 class="text-dark">Drag and Drop the file</h3>
              </div>
              <div class="info" *ngIf="files.length>0">
                <h4 class="name">
                  {{ files[0]?.name }} <button mat-icon-button (click)="deletefiles()" color="warn">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </h4>
                <p class="size">
                  {{files[0]?.progress}}% of {{ formatBytes(files[0]?.size,0) }}
                </p>
                <mat-progress-bar mode="buffer" [color]="'primary'" [value]="files[0]?.progress"
                  [bufferValue]="files[0]?.progress">
                </mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end m-2">
            <button mat-raised-button color="accent" type="submit">Submit</button>
          </div>
        </div>
      </form>
      <div class="card-body" *ngSwitchCase="false">
        <div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="error">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <strong>{{error}}</strong>
        </div>
        <div class="row m-2">
          <div class="col-md-6"
            *ngFor="let model of splitAssignments | fieldsfilter: 'subject,title,topic,grade,dueDate': filter">
            <ng-container>
              <div class="card m-1">
                <div class="card-header">
                  <div class="d-flex">
                    <div>
                      <img class="icon-class" src="assets/icons/vidhya-sandhhan.svg">
                      <span class="subject">{{model.assignment.title}}</span>
                    </div>
                    <div class="ml-auto">
                      <a (click)="viewDetails(model)"><span class="badge badge-pill badge-primary">View
                          Details</span></a>
                      <!-- <div class="list-inline">
                          <a mat-mini-fab color="secondary" (click)="downloadFile(model.assignment.assignmentFile)" title="download" class="list-inline-item">
                            <mat-icon>cloud_download</mat-icon>
                          </a>
                          <a mat-mini-fab color="secondary" title="upload" (click)="uploader.click()"  class="list-inline-item">
                            <mat-icon>cloud_upload</mat-icon>
                          </a>
                          <input hidden  type="file" #uploader (change)="fileBrowse($event.target.files)" />
                        </div> -->
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h3 class="card-title title">{{model.assignment.subject}}</h3>
                  <p class="card-sub-title subtitle">{{model.assignment.topic}}</p>
                  <div class="card-text perfomed">
                    <div class="d-flex flex-column">
                      <span>Due: {{model.assignment.dueDate | date: 'mediumDate'}}</span>
                      <span class="list-inline" *ngIf="uploadedFile">
                        {{uploadedFile.name}}
                      </span>
                      <!-- <span *ngIf="uploadedFile">
                          <a (click)="onSubmit(model)"><span class="badge badge-pill badge-primary" >Submit</span></a>
                          <a (click)="onDelete()"><span class="badge badge-pill badge-danger">Delete</span></a>
                        </span> -->
                      <span class="ml-auto">
                        <ng-container [ngSwitch]="model.status">
                          <span class="badge badge-pill badge-warning" *ngSwitchCase="0">Pending</span>
                          <span class="badge badge-pill badge-success" *ngSwitchCase="1">Submitted</span>
                          <span class="badge badge-pill badge-primary" *ngSwitchCase="2">Evaluated</span>
                        </ng-container>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </span>
  </div>
</ng-container>
