
.mat-form-field{
    width: 100%;
}

.demoform{
    margin: 0.5rem 2rem;
    background-color: white;
}

.form-group{
    margin-bottom: 0;
}


.equal-container{
    margin-top: 25px;
}

.demo-title{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4184f3;
}

.location-font{
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

@media screen and (max-width: 900px){
    .equal-container{
        margin-top: 25px;
    }
  }
  
  @media screen and (max-width: 576px){
    .demoform{
        margin: 0 5px;
    }
  }

  .w-20{
      width: 20%;
  }

  .card-header{
      color: #20253a;
  }

 .event-bg{
  background-color: #f7f8fa;   
 }