<div class="m-4 bg-tutor">
  <mat-toolbar class="tutor-header">
    <span>Book Tutor</span>
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <div class="row w-100 p-2">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Area</mat-label>
            <input matInput placeholder="Area" >
            <button mat-icon-button matPrefix>
              <mat-icon>place</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field>
            <mat-label>Subjects, Grades, etc.</mat-label>
            <input matInput placeholder="Subjects, Grades, etc.">
            <button mat-icon-button matPrefix>
              <mat-icon>school</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Tutor</mat-label>
            <input matInput placeholder="Tutor" [(ngModel)]="query">
            <button mat-icon-button matPrefix>
              <mat-icon>person_outline</mat-icon>
            </button>
          </mat-form-field>

        </div>
        <div class="col-md-1">
          <a mat-icon-button>
            <mat-icon>search</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="card mb-3" *ngFor="let tutor of slicedTutors | tutorfilter:'firstName,lastName':query">
        <div class="row text-vs-center no-gutters">
          <div class="col-md-2">
            <!-- <img  [src]="tutor.profilePic"> -->
            <img [src]="tutor.profilePic || 'assets/profile-pic.svg'" class="img-thumbnail p-2 mx-auto d-block">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <h5 class="card-title text-dark">
                    <a class="tutor-name">{{tutor.firstName | uppercase}} {{tutor.lastName | uppercase}}
                    </a>
                  </h5>
                  <mat-icon [ngStyle]="{'color':'yellow'}">star</mat-icon>
                  <mat-icon [ngStyle]="{'color':'yellow'}">star</mat-icon>
                  <mat-icon [ngStyle]="{'color':'yellow'}">star</mat-icon>
                  <mat-icon [ngStyle]="{'color':'yellow'}">star_half</mat-icon>
                  <mat-icon [ngStyle]="{'color':'yellow'}">star_border</mat-icon>
                  <ul class="list-group list-group-horizontal justify-vs-center">
                    <li class="list-group-item border-0 p-2">
                      <span class="review">Teaching</span>
                      <span class="review-val">70%</span>
                      <mat-progress-spinner class="example-margin" diameter="30" [color]="'primary'"
                        [mode]="'determinate'" [value]="70">
                      </mat-progress-spinner>
                    </li>
                    <li class="list-group-item border-0 p-2">
                      <span class="review">Knowledge</span>
                      <span class="review-val">80%</span>
                      <mat-progress-spinner class="example-margin" diameter="30" [color]="'warn'" [mode]="'determinate'"
                        [value]="80">
                      </mat-progress-spinner>
                    </li>
                    <li class="list-group-item border-0 p-2">
                      <span class="review">Freiendly</span>
                      <span class="review-val">90%</span>
                      <mat-progress-spinner class="example-margin" diameter="30" [color]="'secondary'"
                        [mode]="'determinate'" [value]="90">
                      </mat-progress-spinner>
                    </li>
                  </ul>
                </div>
                <mat-divider [vertical]="true">
                </mat-divider>
                <div class="col-md-5">
                  <span>Schedules</span>
                  <div *ngIf="tutor.courseAssignments.length === 0" class="alert alert-info">
                    No Schedule is Available
                  </div>
                  <ul class="list-group text-list">
                    <li class="list-group-item p-1 border-0 d-flex justify-content-between align-items-center"
                      *ngFor="let assignment of tutor.courseAssignments">
                      {{assignment.course.startDate | date:'mediumDate'}}
                      <span class="badge badge-pill"  [ngClass]="assignment.course.isDemo ? 'badge-primary' : 'badge-success'"
                      matTooltip="{{assignment.course.title}}">{{assignment.course.startDate | date:'shortTime'}} : {{assignment.course.endDate | date:'shortTime'}}</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <div class="d-flex justify-content-center">
                    <button mat-icon-button class="btn-icons">
                      <mat-icon>email</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-icons">
                      <mat-icon>call</mat-icon>
                    </button>
                  </div>
                  <mat-chip-list class="mat-chip-list-stacked">
                    <mat-chip class="book" (click)="bookClass($event, tutor)">Book</mat-chip>
                    <mat-chip class="demo" (click)="selectDemo($event,tutor)">Schedule A Demo</mat-chip>
                  </mat-chip-list>
                  <!-- <mat-chip-list>
                        <mat-chip class="book">Book</mat-chip>
                        <mat-chip class="demo">Schedule A Demo</mat-chip>
                    </mat-chip-list> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator [length]="tutors?.length" [pageSize]="4" [pageSizeOptions]="[4, 8, 12, 16]"
        (page)="pagechange($event)"> </mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
