mat-form-field{
    width: 100%;
    margin: 0 15px;
}

.tutor-header{
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #ac0619;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    background-color: #f6d9cd;
}

.bg-tutor{
    background-image: linear-gradient(to bottom, #fff5f0 13%, #fccfbc);
}

.tutor-name{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4184f3;
    text-decoration: underline;
}

.btn-icon{
    width: 24px;
    height: 40px;
}

.review{
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
  text-align: center;
  color: #6b6b6b;
}

.review-val{
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 10px;
}

.text-list{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.btn-icons{
    color: #ac0619;
    box-shadow: 0 7px 15px 0 rgba(56, 138, 247, 0.17);
    background-color: #ffffff;
    margin: 0.5rem;
}

.book{
    border-radius: 23px;
    background-color: #ac0619;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.demo{
    border-radius: 23px;
    border: solid 1px #ac0619;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ac0619;
}

@media screen and (max-width: 576px){
    .text-vs-center{
        text-align: center;
    }

    .justify-vs-center{
        justify-content: center;
    }
}

.list-height{
  max-height: 100px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #695d5d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #695d5d;
}

.demo-bg{
  background-color:  rgb(227, 188, 8);
}

.tutor-img{
  width: 50%;
  margin: auto;
  height: 325px;
}

.search-text{
  font-family: Montserrat;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #20253a;
}
