<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side"  [ngClass]="{'mat-side-pink' : loginType === 'pink'}" fixedInViewport>
    <!-- <img class="img img-responsive sidenav-img" src="assets/sidenav-1.png" 
        srcset="assets/sidenav-2.png 2x,
        assets/sidenav-3.png 3x" > -->
    <mat-toolbar class="logo-toolbar">
      <mat-toolbar-row>
        <img src="assets/vidhyasadhan-logo.svg">
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <!-- <div class="flex-container">
        <a class="btn btn-lg btn-outline-primary bg-white">
          <i class="material-icons md-18">add</i>
          <span class="Add-New-Entry md-18">Add New Entry</span>
        </a>
      </div> -->
      <a *ngFor="let item of myWorkRoutes" mat-list-item [ngClass]="{'mat-list-item-pink' : loginType === 'pink'}"
      (click)="sidenav.close()" [routerLink]="[item.route]"
      routerLinkActive="list-item-active">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>
      <mat-divider></mat-divider>
      <div class="d-flex m-2 align-items-center justify-content-center">
        <div class="crown text-center">
          <img class= "p-2" src="assets/sidenav/crown.jpg">
          <h5 class="Upgrade-to-Pro">Upgrade to Pro</h5>
          <p class="Make-the-most-of-you">Make the most of your app with premium</p>
        </div>    
      </div>
      <img class="side-bg-pic img img-responsive" src="assets/sidenav/group-19.png" srcset="assets/sidenav/group-19@2x.png 2x,assets/sidenav/group-19@3x.png 3x">
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="loginType === 'pink' ? 'sidenav-bg-pink':'sidenav-bg-blue'">
    <div>
      <img class="oval-copy-left-1" src="assets/registration/oval-copy-2.svg">
      <img class="oval-copy-left-2" src="assets/registration/oval-copy-3.svg">
    </div>
    <app-navigation-bar *ngIf="isAuthenticated()" (toggleSidenav)="sidenav.toggle()">
    </app-navigation-bar>
    <router-outlet></router-outlet>
    <div>
      <img class="oval-copy-right-1" src="assets/registration/oval.svg">
      <img class="oval-copy-right-2" src="assets/registration/oval-copy-4.svg">
    </div>

    <div class="bottom-icon">
      <img class="oval-copy-right-3" src="assets/combined-shape.svg">
      <img class="oval-copy-left-3" src="assets/registration/oval-copy.svg">
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>