mat-sidenav-container{
    height: 100vh;
}


/* app-navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
  } */
/*
  mat-sidenav{
      width: 255px;
  } */

  mat-sidenav{
        /* background-image: url("/../assets/sidenav-1.png");
        background-image:
          -webkit-image-set(
            url("/../assets/sidenav-1.png") 1x,
            url("/../assets/sidenav-2.png") 2x,
            url("/../assets/sidenav-3.png") 3x,
          );
        background-image:
          image-set(
            url("/../assets/sidenav-1.png") 1x,
            url("/../assets/sidenav-2.png") 2x,
            url("/../assets/sidenav-3.png") 3x,
          ); */
          background-image: linear-gradient(to bottom, #e5f5ff 13%, #60a7f8);
          width: 255px;
  }

  .mat-side-pink{
    background-image: linear-gradient(to bottom, #ffeae1 13%, #d73200);
    color: #ac0619 !important;
  }

  .logo-toolbar{
    background: transparent;
  }

  .sidenav-img{
      position: absolute;
  }

  .Rectangle {
    width: 195px;
    padding: 0.75rem 0;
    border-radius: 3px;
    border: solid 1px #1d4082;
    background-color: #ffffff;
    text-align: center;
  }

  .md-18{
      font-size: 18px !important;
  }

  .Add-New-Entry{
    width: 110px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1d4082;
  }

 .md-dark{
      color: #1d4082;
  }

  .sidenav-bg-pink{
    background-image: linear-gradient(to bottom, #fff5f0 13%, #fccfbc);
  }

  .sidenav-bg-blue{
    background-image: linear-gradient(to bottom, #bcdafc -5%, #bcdafc);
  }

  .mat-list-item{
    font-family: Montserrat;
    color: #1d4082;
  }

  .mat-list-item-pink{
    color: #ac0619;
    font-weight: 600;
  }

  .mat-list-item a{
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.71;
    letter-spacing: normal;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
  }

  .Path {
    width: 1px;
    height: 11px;
    border: solid 2px #1d4082;
  }

  .footer{
  height: 13px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
  }

  .crown{
      width: 195px;
      opacity: 0.9;
      border-radius: 8px;
      background-color: #ffffff;
  }

  .crown>img:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}

.Make-the-most-of-you {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #74798c;
}

.Upgrade-to-Pro {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.47;
  letter-spacing: normal;
  color: #20253a;
}

.side-bg-pic{
  position: bottom;
  width: 100%;
  height: auto;
}

.list-item-active{
  background: #1d4082;
  color: #ffffff !important;
}

.list-item-active .mat-line, .list-item-active .mat-icon{
  color: #ffffff !important;
}


.list-item-active.pink{
  background: #ac0619 !important;
  color: #ffffff !important;
}

.example-container{
  height: 100%;
}

.example-container>mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 62px !important;
  overflow: hidden;
}

.mat-sidenav-content {
  margin-left: 64px;
  min-height: 95vh;
}

mat-sidenav .mat-drawer-inner-container{
  overflow: hidden !important;
}

.mat-drawer-container{
  overflow: hidden !important;
}

.mat-line{
  font-family: Montserrat !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  letter-spacing: normal !important;
  color: inherit;
}

.mat-list-item{
  color: #1d4082 !important;
}


.mat-list-item.pink{
  color: #ac0619 !important;
}

@media screen and (max-width: 576px){
  mat-sidenav{
    width: 0 !important;
  }

  .example-container>mat-sidenav:not(.mat-drawer-opened) {
    width: 0 !important;
  }

  .mat-sidenav-content{
    margin-left: 0;
  }
}
