<div class="jumbotron jumbo-bg">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="p-0">
        <mat-card-header class="bg-welcome p-4">
          <mat-card-title>
            <img src="assets/welcome/vidhya-sandhhan-copy.svg" class="vidhya-sandhhan-copy">
            <h2 class="welcome">Welcome to VidhyaSadhan </h2>
            <div class="text-center">
                <img src="assets/welcome/mesa-de-trabajo-1-copy-2-x-8.png" srcset="assets/welcome/mesa-de-trabajo-1-copy-2-x-8@2x.png 2x,
                assets/welcome/mesa-de-trabajo-1-copy-2-x-8@3x.png 3x" class="Mesa-de-trabajo-1-copy2x-8">
            </div>
            <p class="activate-text">
              To activate your account, we need to know you received this Email. Please click on the link shared to
              confirm that.
            </p>
            <div class="p-1 text-center">
              <a class="btn btn-md btn-primary" [routerLink]="['/login']">Login</a>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="bg-white text-center">
            <div class="p-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/welcome/online-stores-icon.svg" class="online-stores-icon">
                    </div>
                    <div class="col-md-8">
                        <h4 class="home-edu">Online Home Education</h4>
                        <p class="home-edu-sub">
                            Morbi sit amet sapien placerat lorem ultrices euismod sed at neque. Mauris tristique, lacus id maximus convallis, neque tellus ornare risus
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/welcome/marketplace-icon.svg" class="online-stores-icon">
                    </div>
                    <div class="col-md-8">
                        <h4 class="home-edu">Online Home Education</h4>
                        <p class="home-edu-sub">
                            Morbi sit amet sapien placerat lorem ultrices euismod sed at neque. Mauris tristique, lacus id maximus convallis, neque tellus ornare risus
                        </p>
                    </div>
                </div>

                <mat-divider class="m-2"
                    [inset]="true">
                </mat-divider>

                <img src="assets/welcome/ava.svg" class="ava">
                <p class="contact-1">Contact: info@vidhyasadhan.com</p>
            </div>       
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="text-center footer-text p-4">
    <p>Vidhyasadhan Inc., The Marketplace To Bring Life Changing Tution to All </p>
     <p>XXX Old Middlefield Way #XXX, Mountain View, CA XXXX-XXXX</p>   
  </div>
</div>