

.greet h4 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    color: #20253a;
}

.greet h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #20253a;
    line-height: 1;
}

.greet p{
    font-family: Montserrat;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #5f5f5f;
    line-height: 1.49;
}

.icon-cards{
    padding: 1.5rem 0;
}

.title-text{
  margin: 1rem 0;
  font-family: Montserrat;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #1d4082;
}

.title-subtext{
  font-family: Montserrat;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #b6091d;
}

.title-subtext>span{
    font-family: Montserrat;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #b6091d;
    padding: 0 0.5rem;
}

.path-2{
    position: absolute;
    right: 5px;
}

.text-container{
    position: relative;
}

.dash-card{
  border-radius: 20px;
  box-shadow: 0 18px 32px -4px rgba(42, 106, 255, 0.24);
  border: solid 1px #b0e6ff;
  background-color: #ffffff;
}

.dash-card-student{
  border-radius: 20px;
  box-shadow: 0 18px 32px -4px rgba(255, 42, 42, 0.24);
  border: solid 1px #ffb0b0;
  background-color: #ffffff;
}

.dash1-board{
  margin: 2rem 0;
}

.dash-board{
    background-image: url("/assets/dashboard/dashboard-1.png");
        background-image:
          -webkit-image-set(
            url("/vidhyasadhan-ui/assets/dashboard/dashboard-1.png") 1x,
            url("/vidhyasadhan-ui/assets/dashboard/dashboard-2.png") 2x,
            url("/vidhyasadhan-ui/assets/dashboard/dashboard-3.png") 3x,
          );
        background-image:
          image-set(
            url("/vidhyasadhan-ui/assets/dashboard/dashboard-1.png") 1x,
            url("/vidhyasadhan-ui/assets/dashboard/dashboard-2.png") 2x,
            url("/vidhyasadhan-ui/assets/dashboard/dashboard-3.png") 3x,
          );

          line-height: 0;
          vertical-align: middle;
          /* background-size: 100%; */
          background-position: 90% 50%;
          background-repeat: no-repeat;
}

.student-profile {
  background-image: linear-gradient(to bottom, #ea8b64 13%, #c2300a) !important;
}

.student-profile .title-text,
.student-profile  .title-subtext,
.student-profile  span{
  color: #ffffff !important;
}

.first-nm{
   color:#ac0619 !important;
}

@media screen and (min-width: 768px){
  .greet{
    min-height: 350px;
  }

  .greet h2{
    font-size: 35px;
    margin-top: 2rem;
  }

  .greet p{
    font-size: 30px;
    margin-top: 2rem;
  }
}


@media screen and (max-width: 768px){
  .dash-board{
    background-image: none;
  }

  .greet h2{
    margin-top: 2rem;
  }

  .equal-container{
    margin-top: 0.5rem;
  }
}

.card{
  background: transparent;
}

.opac-blue, .opac-pink{
  opacity: 0.5;
}

.prof-pink{
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ea8b64 13%, #c2300a);
  color: #ffffff;
  opacity: 1;
}

.prof-pink *, .prof-blue *{
  color: #ffffff;
}

.prof-blue{
  border-radius: 10px;
  box-shadow: 0 11px 21px 3px rgba(106, 166, 255, 0.7);
  background-image: linear-gradient(138deg, #aac7ea -8%, #1d4082 69%);
  color: #ffffff;
  opacity: 1;
}

.prof-pink:hover, .prof-blue:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.spl-padding{
  padding: 1.25rem 0.25rem;
}

.spl-padding img{
height: 46px;
margin-left: auto;
width: 100%;
}

.spl-padding .card-text{
  font-size: 14px;
}

.j-minheight{
  min-height: 95vh;
}
