<div class="modal-header modal-header-custom">
  <h4 class="modal-title referral-details">Referral Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
      <div class="col-4">
        <form>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Name</label>
              <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Search ">
            </div> 
          </div>
        </form>
      </div>
      <div class="col-8">
        <div class="row">
            <div class="col-3">
              <button type="submit" class="btn btn-primary withdraw-button mb-2">Withdraw</button>
            </div>
            <div class="col-9"> 
              <button type="submit" class="btn btn-secondary transfer-to-earn-button ml-2">Transfer to Earnings</button>
            </div>
        </div>
          
         
      </div>
  </div>
  <div class="row">
    <div class="col-12 padding-left-right">
      <div class="container">
        <div class="row">
          <div class="col-12 padding-left-right mt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"> Name</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Referred via</th>
                  <th scope="col">Status</th>
                  <th scope="col">Credits</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                        <label class="custom-control-label" for="customCheck1">1</label>
                    </div>
                  </td>
                  <td>Bootstrap 4 CDN and Starter Template</td>
                  <td>Cristina</td>
                  <td>913</td>
                  <td>2.846</td>
                  <td>
                    $26
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                        <label class="custom-control-label" for="customCheck1">1</label>
                    </div>
                  </td>
                  <td>Bootstrap 4 CDN and Starter Template</td>
                  <td>Cristina</td>
                  <td>913</td>
                  <td>2.846</td>
                  <td>
                    $26
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                        <label class="custom-control-label" for="customCheck1">1</label>
                    </div>
                  </td>
                  <td>Bootstrap 4 CDN and Starter Template</td>
                  <td>Cristina</td>
                  <td>913</td>
                  <td>2.846</td>
                  <td>
                    $26
                  </td>
                </tr>
             
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer justify-center-footer">
  <div class="row">
    <div class="col-12 text-center" >
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>