<mat-sidenav-container >
  <mat-sidenav #drawer class="sidenav" position="end" mode="over">
    <h2>Edit Filters <span>Clear Filters</span></h2>
    <nav>
      <h4>Grade/Standard</h4>
      <ul>
        <li>
          <mat-checkbox>
            10th Grade
          </mat-checkbox>
        </li>
        <li>
          <mat-checkbox>
            +2 Grade
          </mat-checkbox>
        </li>
        <li>
          <mat-checkbox>
            7th Grade
          </mat-checkbox>
        </li>
      </ul>
      <h4>Assignment Type</h4>
      <div class="pl-2 mb-2">
        <mat-chip-list>
          <mat-chip selected color="accent">Questions</mat-chip>
          <mat-chip selected color="warn">Manual</mat-chip>
        </mat-chip-list>
      </div>
      <h4>Tasks Range</h4>
      <div class="pl-4">
        <span>0<mat-slider [max]="100" [min]="0" [step]="10" [thumbLabel]="true"></mat-slider>100</span>
      </div>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
      </mat-form-field> -->
      <h4>
        Student Type
      </h4>
      <ul>
        <li>
          <mat-slide-toggle>
        Show Only Online
      </mat-slide-toggle>
        </li>
        <li>
          <mat-slide-toggle>
        Toggle State Off!
      </mat-slide-toggle>
        </li>
        <li>
        </li>
      </ul>
      <div class="text-center">
        <button mat-raised-button color="accent">Apply</button>
      </div>
      
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card>
      <mat-card-header class="header-rad">
        <mat-card-title>
          <span [ngSwitch]="displayassignments">
            <p *ngSwitchCase="true">
              Student Assignments
            </p>
            <p *ngSwitchCase="false">
              <a (click)="gotolist()" mat-icon-button>
                <mat-icon>west</mat-icon>
              </a>
              Create Assignments
            </p>
          </span>
        </mat-card-title>
        <mat-card-subtitle *ngIf="displayassignments">Total: {{assignments?.length}}</mat-card-subtitle>
        <div class="ml-auto">
          <div class="d-flex">
            <ng-container [ngSwitch]="displayassignments">
              <ng-container class="ml-2" *ngSwitchCase="true">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="fill" class="custom-margin">
                      <mat-label>Search</mat-label>
                      <input matInput placeholder="Search" [(ngModel)]="query">
                      <button mat-icon-button matSuffix>
                        <mat-icon>search</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <div class="custom-margin">
                      <button mat-raised-button color="primary" aria-label="Example icon button with a home icon"
                        (click)="drawer.toggle()">
                        filter <mat-icon>filter_list</mat-icon>
                      </button>
                    </div>
                    <!-- <mat-form-field appearance="fill" class="custom-margin">
                      <mat-label>Most Recent</mat-label>
                      <input matInput placeholder="Most Recent" disabled [(ngModel)]="query">
                      <button mat-icon-button matSuffix>
                        <mat-icon>expand_more</mat-icon>
                      </button>
                    </mat-form-field> -->
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary custom-margin" [matMenuTriggerFor]="menu">
                      <span>New Task</span>
                      <mat-icon class="align-middle ml-1">add</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button mat-menu-item *ngFor="let item of switchMenus()" (click)="menuClicks(item)">
                        <mat-icon>{{item.icon}}</mat-icon>
                        <span class="menu-font">{{item.value}}</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="false">
                <mat-form-field appearance="fill">
                  <mat-label for="course">Course</mat-label>
                  <mat-select [(ngModel)]="selectedCourse" name="course">
                    <mat-option *ngFor="let location of filteredCourses" [value]="location">
                      {{location.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <ng-container>
                  <mat-form-field appearance="fill" class="ml-2">
                    <mat-label>Assign To</mat-label>
                    <mat-select [(ngModel)]="selectedstudents" multiple>
                      <mat-option *ngFor="let enrollment of selectedCourse?.enrollments" [value]="enrollment.student">
                        {{enrollment.student?.firstName}} {{enrollment.student?.lastName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <span [ngSwitch]="displayassignments">
          <p *ngSwitchCase="true">
            <mat-card *ngIf="assignments?.length === 0">
              <mat-card-header class="body-content">
                <mat-card-title>
                  <div class="d-flex">
                    <div class="vsadhan-img">
                      <img src="assets/icons/vidhya-sandhhan.svg" class="img img-responsive vidhya-sandhhan">
                    </div>
                    <span class="p-2">Assign work to your class here</span>
                  </div>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="text-center">
                <mat-action-list>
                  <mat-list-item class="profession">
                    <mat-icon class="mat-list-icon">text_snippet</mat-icon> Create assignments and questions
                  </mat-list-item>
                  <mat-list-item class="profession">
                    <mat-icon class="mat-list-icon">format_list_numbered</mat-icon> Use topic to organise classwork into
                    modules or units
                  </mat-list-item>
                  <mat-list-item class="profession">
                    <mat-icon class="mat-list-icon">format_line_spacing</mat-icon> Order work the way you want students
                    to
                    see it
                  </mat-list-item>
                </mat-action-list>
              </mat-card-content>
            </mat-card>
            <app-assignmentlist [assignments]="slicedAssignments" [filter]="query"></app-assignmentlist>
            <mat-paginator [length]="assignments?.length" [pageSize]="4" [pageSizeOptions]="[4, 8, 12, 16]"
              (page)="pagechange($event)"> </mat-paginator>
          </p>
          <p *ngSwitchCase="false">
            <app-assignmentdetail [course]="selectedCourse" [students]="selectedstudents"></app-assignmentdetail>
          </p>
        </span>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
