<div class="tutor-table">
  <h1>Payments</h1>
  <div class="form-group row">
    <div class="offset-md-8 col-md-4">
      <div class="input-group mb-2">
        <input class="form-control input-rounded" (keyup)="applyFilter($event)" placeholder="Search" #input>
        <div class="input-group-append">
          <div class="input-group-text">
            <mat-icon>search</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-container mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="sno" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
        <td mat-cell *matCellDef="let i = index">
        {{this.paginator?.pageIndex == 0 ? i + 1 : 1 + i + this.paginator?.pageIndex * this.paginator?.pageSize}}
      </td>
      </ng-container>
      <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
        <td mat-cell *matCellDef="let row"><a href (click)="click($event,row)">{{row.class}}</a> </td>
      </ng-container>
      <ng-container matColumnDef="tutor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tutor </th>
        <td mat-cell *matCellDef="let row">{{row.tutor}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
      </ng-container>
      <ng-container matColumnDef="date" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>




