<!-- <div class="container">
<a mat-raised-button [routerLink]="['/demos/create']">Create</a>
</div> -->

<div class="equal-container">
  <div class="equal-col">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-tutor-primary">
          <div>Demo Requests</div>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div class="lh-40"> Students List</div>
            <div class="ml-auto d-flex">
              <div class="mr-1 Layout">LAYOUT</div>
              <div class="mr-1 ml-1">
                <a mat-icon-button *ngFor="let action of actionIcons" (click)="selectedAction = action">
                  <mat-icon>
                    {{action.icon}}
                  </mat-icon>
                </a>
              </div>
              <div class="lh-40">
                <mat-slide-toggle color="Primary">Online</mat-slide-toggle>
              </div>

            </div>
          </div>

          <div class="container-fluid">
              <div class="row">
                  <div [ngClass]="{'col' : selectedAction === actionIcons[0], 
                  'col-md-12' : selectedAction === actionIcons[1],
                  'col-md-6' : selectedAction === actionIcons[2] }">
                    <div [ngClass]="{'card-deck': selectedAction === actionIcons[1]}">
                        <div class="card card-chip mb-3" *ngFor="let element of demos" >
                                <div class="row no-gutters">
                                  <div [ngClass]="{'col-md-2' : selectedAction === actionIcons[0], 
                                  'col-md-12' : selectedAction === actionIcons[1],
                                  'col-md-4' : selectedAction === actionIcons[2] }">
                                    <div class="d-flex" [ngClass]="{'justify-content-center' : selectedAction === actionIcons[1]}">
                                      <img src="assets/demo/group-3_2.png"
                                        srcset="assets/demo/group-3_2@2x.png 2x,assets/demo/group-3_2@3x.png 3x"
                                        class="img-responsive p-2">
                                      <img src="assets/demo/group-10-copy-3.png"
                                        srcset="assets/demo/group-10-copy-3@2x.png 2x,assets/demo/group-10-copy-3@3x.png 3x"
                                        class="Group-10-Copy-3">
                                    </div>
                                  </div>
                                  <div  [ngClass]="{'col-md-10' : selectedAction === actionIcons[0], 
                                  'col-md-12' : selectedAction === actionIcons[1],
                                  'col-md-8' : selectedAction === actionIcons[2] }">
                                    <div class="card-body">
                                      <h5 class="card-title text-dark">
                                        <a class="Student-Name-10th-S"> {{element.enrollments[0].student.firstName}}
                                          {{element.enrollments[0].student.lastName}}
                                        </a>
                                      </h5>
                                      <div class="card-text Requested-Subs-M">
                                        <div class="row">
                                          <div class="col">
                                            <p>Requested Sub(s) — {{element.title}}</p>
                                            <p>Requested Demo on {{element.startDate | date: 'EEEE'}},
                                              {{element.startDate | date: 'shortTime'}} slot</p>
                                          </div>
                                          <div class="col">
                                            <p class="address">Address</p>
                                            <p class="v-map">{{element.locationName}} - <a (click)="selectedAction = actionIcons[2]">View On Map</a></p>
                                          </div>
                                          <div class="col-12">
                                            <mat-chip-list #chipList>
                  
                                              <mat-chip [color]="action.color" selected 
                                              *ngFor="let action of actions"  (click)="changeSelected($event, action, element.enrollments[0])">
                                                  <mat-icon>{{action.icon}}</mat-icon>
                                                  {{action.action}}
                                              </mat-chip>
                                            </mat-chip-list>
                                          </div>
                                        </div>
                  
                                      </div>
                                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins
                                            ago</small></p> -->
                                    </div>
                                  </div>
                                </div>
                        </div>
                    </div>

                  </div>
                  <div class="col-md-6" *ngIf="selectedAction == actionIcons[2]">
                    <!-- <google-map height="500px" width="100%"></google-map> -->
                    <app-mapcomponent [markersdata]="demos"></app-mapcomponent>
                  </div>
              </div>            
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
