
.about-bg {
  background-image: url("/vidhyasadhan-ui/assets/website/aboutus/bg.svg");
  background-color: #ffffff;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body{
  background-color: #ffffff;
}

.about-text {
  text-align: center;
  position: absolute;
  top: 250px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.about-vs{
  position: relative;
  background-color: #ffffff;
  padding: 2rem 0;
}

.about-vs-text{
  display: flex;
  width: 80%;
  margin: auto;
}

.about-us{
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.welove-text{
  font-family: Poppins;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.platform{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.about-us-1{
  max-width: 549px;
  max-height: 300px;
}


.get-start{
  border-radius: 5px;
  background-color: #ffffff;
}

.get-start>span{
  background-image: linear-gradient(to top, #f53b0a, #001aff);
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welove-devtext{
  background-image: linear-gradient(to top, #f53b0a, #001aff);
  font-family: Poppins;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.32;
  letter-spacing: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.5rem;
}

.parallelogram{
    width: 80%;
    /* height: 300px; */
    margin: auto;
    transform: skew(8deg);
    border-radius: 1rem;
    opacity: 0.8;
    background-image: linear-gradient(to bottom, #f53b0a, #93276c, #000aff);
}

.pricing-parent{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  grid-template-columns: 250px 200px 250px;
  margin-top: 50px;
}

.pricing-child{
  /* grid-area: 1 / 1 / 2 / 2; */
  opacity: 1;
  border-radius: 15px;
  background-color: #ffffff;
  /* width: 30%; */
  position: relative;
  transform: skew(-8deg);
  padding: 1rem;
  margin-top: 50px;
}

.pricing-child-1{
  border-radius: 10px;
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  height: 180px;
  text-align: left;
}

.pricing-child-2{
  /* margin-left: 25%; */
  z-index: 200;
  border-radius: 10px;
  box-shadow: 0 4px 100px 0 rgba(69, 84, 253, 0.5);
  background-color: #ffffff;
  height: 350px;
  margin: -50px -50px 0 -50px;
}

.pricing-child-3{
  border-radius: 10px;
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  height: 180px;
  text-align: left;
}

.basic{
  opacity: 0.6;
  font-family: OpenSans;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ea7912;
}


.pro{
  font-family: OpenSans;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #46bbfd;
  text-align: left;
}

.basic-text{
  font-family: Poppins;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #333333;
}

.basic-price{
  font-family: OpenSans;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4756fc;
  text-align: center;
}

.original{
  margin-bottom: 8px;
  width: 100px;
}

.reflection{
	-moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
	-webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.3)));
}

.list-parent{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  transform: skew(-8deg);
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  gap:8px;
  margin: 2rem 100px 1rem 0;
}

.price-svg{
  position: absolute;
  bottom: -12px;
  z-index: 20;
  color: #4655fd;
}

.pricing-dev{
  padding: 2rem 0;
}
