<div class="about-bg">
  <div class="about-text">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 text-left">
          <p class="about-us">HOME/FEATURES</p>
          <h2 class="welove-text">We provide Role-based access control.</h2>
          <p class="platform">VidhyaSadhan is a platform to change the way you Study and Teach.</p>
          <a class="btn btn-primary get-start" href="#" role="button"><span>GET STARTED</span></a>
        </div>
        <div class="col-md-6 offset-md-1">
          <img src="assets/website/features/feature.png"
            srcset="assets/website/features/feature-1.png 2x,assets/website/features/feature-2.png 3x"
            class="about-us-1">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="contact-us">
    <h2 class="welove-devtext">Role-based access control</h2>
    <div class="line"></div>
  </div>
  <div class="role">
    <div class="role-container">
      <img src="assets/website/features/role.png" srcset="assets/website/features/role-1.png 2x,
      assets/website/features/role-2.png 3x" class="role-1">
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <h2 class="card-title student-header">Students
            Without Limits</h2>
          <p class="card-text student-text">Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem.
            Curabitur aliquam tellus eu nisl suscipit, at vestibulum ex rutrum. Nulla facilisi.
            Cras ullamcorper pellentesque orci, nec vestibulum nibh.uspendisseUt enim mi, mattis at
            sollicitudin rhoncus, rhoncus eget sem. Curabitur aliquam tellus eu nisl suscipit, at
            vestibulum ex rutrum. Nulla facilisi. Cras ullamcorper</p>
            <a class="btn startnow rounded" role="button">Get started now!</a>
        </div>
      </div>
    </div>
    <div class="role-container-2">
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <h2 class="card-title student-header">Tutors
            Global Community</h2>
          <p class="card-text student-text">Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem.
            Curabitur aliquam tellus eu nisl suscipit, at vestibulum ex rutrum. Nulla facilisi.
            Cras ullamcorper pellentesque orci, nec vestibulum nibh.uspendisse</p>
            <a class="btn startnow rounded" role="button">Get started now!</a>
        </div>
      </div>
      <img src="assets/website/features/global.png" srcset="assets/website/features/global-1.png 2x,
      assets/website/features/global-2.png 3x" class="role-1">
    </div>
    <div class="role-container">
      <img src="assets/website/features/parent.png" srcset="assets/website/features/parent-1.png 2x,
      assets/website/features/parent-2.png 3x" class="role-1">
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <h2 class="card-title student-header">Parents Monitoring
            from Anywhere</h2>
          <p class="card-text student-text">Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem.
            Curabitur aliquam tellus eu nisl suscipit, at vestibulum ex rutrum. Nulla facilisi.
            Cras ullamcorper pellentesque orci, nec vestibulum nibh.uspendisse</p>
            <a class="btn startnow rounded" role="button">Get started now!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-sitesubscribe></app-sitesubscribe>
