<h1>Broadcast messages</h1>
<form [formGroup]="broadcastForm" (ngSubmit)="broadcast()" class="form">
    <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Message</label>
            <input type="text" class="form-control" formControlName="message">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Url</label>
            <input type="text" class="form-control" formControlName="url">
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Broadcast</button>
        </div>
      </div>
</form>
