.img-prop{
    padding: 5px;
    object-fit: contain;
    background-color: inherit;
}

.card{
    border: 0;
    background: transparent;
}

.card-footer>button,a{
    margin: 0.5rem;
}


.icon-color-blue{
    color: #3a61a9;
}

.icon-color-blue svg {
    fill: rgb(94, 31, 31);
}

.icon-color-pink{
    color: #c4182c;
}

.icon-bg-color-pink{
    border-color: #c4182c !important;
    background-color: #ffd1d1 !important;
}

.icon-bg-color-blue{
    border-color: #3a61a9 !important;
    background-color: #f6f9fe !important;
}

.main-header {
    opacity: 0.9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
  }

mat-form-field {
    width: 100%;
  }

.icon-bg > p {
    margin: 5px 0 0 0;
}

mat-form-field > .mat-form-field-wrapper{
    padding: 0 !important;
}

.mat-button-base{
    margin: 8px 8px 8px 0;
}

.log-header{
    border: 0;
    background-color: #ffffff;
    background-image: url("/vidhyasadhan-ui/assets/registration/combined-shape.svg");
    background-repeat: no-repeat;
    background-position: top right;
}

.icon-bg{
    padding: 15px 15px 10px 15px;
    margin: 0.5rem;
    border-radius: 3px;
    border: solid 2px;
    background-color: #ffffff;
    height: 150px;
  }
  
  .icon-bg-color{
      background-color: #f6f9fe;;
  }
  
  .icon-position{
          position: relative;
          right: -62px;
          z-index: 5;
          top: 20px;
  }



@media screen and (min-width: 576px){
    .log-form-mr{
        margin: 0 10%;
        max-width: 500px;
    }
}


    @media screen and (max-width: 576px){
        .icon-bg{
            padding: 5px 5px 0px 5px;
            border-radius: 3px;
            border: solid 2px;
            background-color: #ffffff;
            height: 150px;
            margin: 0 0.25rem;
          }
          
          .icon-bg-color{
              background-color: #f6f9fe;;
          }
          
          .icon-position{
                  position: relative;
                  right: -50px;
                  z-index: 3;
                  top:30px;
          }

          .log-form-mr{
            margin: 0 15px;
          }
    
}


