<!-- <div class="pbg-1">
  <mat-toolbar class="justify-content-center tb">
    <img src="assets/registration/vidhya-sandhhan.svg" class="vidhya-sadhan">
  </mat-toolbar>
  <div class="content-fit">
    <form [formGroup]="loginForm" *ngIf="!isForgot" (ngSubmit)="onSubmit()" class="log-form-mr bg-white">
      <div class="card-header text-center log-header ">
        <h2>Choose Account Type</h2>
        <div class="d-flex flex-wrap justify-content-center">
          <div class="icon-bg" [ngClass]="isTutor ? 'icon-bg-color-blue' : 'border-light'"
            (click)="isTutor = true">
            <img class="img-thumbnail img-prop" src="assets/registration/login-1.svg">
            <p>Tutor</p>
            <mat-icon *ngIf="isTutor" class="icon-position icon-color-blue" color="primary">check_circle
            </mat-icon>
          </div>
          <div class="icon-bg" [ngClass]="!isTutor ? 'icon-bg-color-pink' : 'border-light'"
            (click)="isTutor = false">
            <img class="img-thumbnail img-prop" src="assets/registration/login-2.svg">
            <p>Student</p>
            <mat-icon *ngIf="!isTutor" class="icon-position icon-color-pink" color="secondary">check_circle
            </mat-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h2 class="text-center">Hello {{isTutor ? "Tutor" : "Student"}}</h2>
        <mat-form-field appearance="outline">
          <mat-label for="username">Email</mat-label>
          <span matPrefix>
            <mat-icon color="primary">email</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
          </span>
          <input matInput type="email" formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Email is required</div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <span matPrefix>
            <mat-icon color="primary">lock</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
          </span>
          <input matInput type="password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          <span matSuffix><a href (click)="forgotClick($event)">Forgot?</a></span>
        </mat-form-field>
        <div class="d-flex justify-content-between">
          <div class="account">No account? <a
              [routerLink]="['/register', isTutor? 'tutor': 'student']">Register</a></div>
          <button mat-flat-button class="mat-button-base" color="accent" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
        <div class="alert alert-danger" *ngIf="error">{{error}}</div>
      </div>
    </form>
    <form [formGroup]="passwordForm" *ngIf="isForgot" class="m-4" (ngSubmit)="onpasswordSubmit()">
      <div class="card-header text-center">
        <div class="signup-txt">Reset Password</div>
      </div>
      <div class="form-group loginform">
        <mat-form-field appearance="outline">
          <mat-label for="username">Email</mat-label>
          <span matPrefix>
            <mat-icon color="primary">email</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
          </span>
          <input matInput type="email" formControlName="username"
            [ngClass]="{ 'is-invalid': passwordsubmitted && p.username.errors }" />
          <div *ngIf="passwordsubmitted && p.username.errors" class="invalid-feedback">
            <div *ngIf="p.username.errors.required">Email is required</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group loginform">
        <mat-form-field appearance="outline">
          <mat-label for="password">New Password</mat-label>
          <span matPrefix>
            <mat-icon color="primary">lock</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
          </span>
          <input matInput type="password" formControlName="password"
            [ngClass]="{ 'is-invalid': passwordsubmitted && p.password.errors }" />
          <div *ngIf="passwordsubmitted && p.password.errors" class="invalid-feedback">
            <div *ngIf="p.password.errors.required">Password is required</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group loginform">
        <mat-form-field appearance="outline">
          <mat-label for="confirmPassword">Confirm Password</mat-label>
          <span matPrefix>
            <mat-icon color="primary">lock</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
          </span>
          <input matInput type="password" formControlName="confirmPassword"
            [ngClass]="{ 'is-invalid': passwordsubmitted && p.password.errors }" />
          <div *ngIf="passwordsubmitted && p.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="p.confirmPassword.errors.required">Confirm Password is required</div>
          </div>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-between text-white">
        <a class="btn btn-secondary" type="submit" (click)="isForgot = !isForgot" role="button">Login?</a>
        <button mat-flat-button class="mat-button-base" color="accent" [disabled]="loadforgot">
          <span *ngIf="loadforgot" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="forgotMessage">
        <strong>Password Reset Succesful. Please go back to</strong><a (click)="isForgot = !isForgot"
          class="alert-link">login</a>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
      </div>
    </form>
  </div>
</div> -->

<div class="home-main flex-column" [ngClass]="isTutor? '':'main-bg'">
  <mat-toolbar class="justify-content-center tb">
    <img src="assets/registration/vidhya-sandhhan.svg" class="vidhya-sadhan">
  </mat-toolbar>
  <div class="equal-container login-side">
    <div class="equal-col">
      <div>
        <div class="card rounded">
          <div class="card-dody" *ngIf="!isForgot">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="log-form-mr bg-white">
              <div class="card-header text-center log-header ">
                <h2>Choose Account Type</h2>
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="icon-bg" [ngClass]="isTutor ? 'icon-bg-color-blue' : 'border-light'"
                    (click)="isTutor = true">
                    <img class="img-thumbnail img-prop" src="assets/registration/login-1.svg">
                    <p>Tutor</p>
                    <mat-icon *ngIf="isTutor" class="icon-position icon-color-blue" color="primary">check_circle
                    </mat-icon>
                  </div>
                  <div class="icon-bg" [ngClass]="!isTutor ? 'icon-bg-color-pink' : 'border-light'"
                    (click)="isTutor = false">
                    <img class="img-thumbnail img-prop" src="assets/registration/login-2.svg">
                    <p>Student</p>
                    <mat-icon *ngIf="!isTutor" class="icon-position icon-color-pink" color="secondary">check_circle
                    </mat-icon>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h2 class="text-center">Hello {{isTutor ? "Tutor" : "Student"}}</h2>
                <mat-form-field appearance="outline">
                  <mat-label for="username">Email</mat-label>
                  <span matPrefix>
                    <mat-icon color="primary">email</mat-icon>
                    <mat-divider [vertical]="true"></mat-divider>
                  </span>
                  <input matInput type="email" formControlName="username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Email is required</div>
                  </div>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label for="password">Password</mat-label>
                  <span matPrefix>
                    <mat-icon color="primary">lock</mat-icon>
                    <mat-divider [vertical]="true"></mat-divider>
                  </span>
                  <input matInput type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                  <span matSuffix><a href (click)="forgotClick($event)">Forgot?</a></span>
                </mat-form-field>
                <div class="d-flex justify-content-between">
                  <div class="account">No account? <a
                      [routerLink]="['/register', isTutor? 'tutor': 'student']">Register</a></div>
                  <button mat-flat-button class="mat-button-base" color="accent" [disabled]="loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                  </button>
                </div>
                <div class="promoter-log">Login as Promoter <a [routerLink]="['/promoter/login']">Login</a> </div>
                <div *ngIf="submitted && error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
              </div>
            </form>
          </div>
          <div class="card-body" class="log-form-mr bg-white" *ngIf="isForgot">
            <div class="card-header text-center bg-transparent border-0">
              <h2 class="m-2">Reset Password</h2>
            </div>
            <form [formGroup]="passwordForm" class="m-4" (ngSubmit)="onpasswordSubmit()">
              <div class="form-group loginform">
                <mat-form-field appearance="outline">
                  <mat-label for="username">Email</mat-label>
                  <span matPrefix>
                    <mat-icon color="primary">email</mat-icon>
                    <mat-divider [vertical]="true"></mat-divider>
                  </span>
                  <input matInput type="email" formControlName="username"
                    [ngClass]="{ 'is-invalid': passwordsubmitted && p.username.errors }" />
                  <div *ngIf="passwordsubmitted && p.username.errors" class="invalid-feedback">
                    <div *ngIf="p.username.errors.required">Email is required</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="form-group loginform">
                <mat-form-field appearance="outline">
                  <mat-label for="password">New Password</mat-label>
                  <span matPrefix>
                    <mat-icon color="primary">lock</mat-icon>
                    <mat-divider [vertical]="true"></mat-divider>
                  </span>
                  <input matInput type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': passwordsubmitted && p.password.errors }" />
                  <div *ngIf="passwordsubmitted && p.password.errors" class="invalid-feedback">
                    <div *ngIf="p.password.errors.required">Password is required</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="form-group loginform">
                <mat-form-field appearance="outline">
                  <mat-label for="confirmPassword">Confirm Password</mat-label>
                  <span matPrefix>
                    <mat-icon color="primary">lock</mat-icon>
                    <mat-divider [vertical]="true"></mat-divider>
                  </span>
                  <input matInput type="password" formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': passwordsubmitted && p.password.errors }" />
                  <div *ngIf="passwordsubmitted && p.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="p.confirmPassword.errors.required">Confirm Password is required</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-between text-white">
                <a class="btn btn-secondary" type="submit" (click)="isForgot = !isForgot" role="button">Login?</a>
                <button mat-flat-button class="mat-button-base" color="accent" [disabled]="loadforgot">
                  <span *ngIf="loadforgot" class="spinner-border spinner-border-sm mr-1"></span>
                  Submit
                </button>
              </div>
              <div class="alert alert-success" *ngIf="submitted && forgotMessage">
                <strong>Password Reset Succesful. Please go back to</strong><a (click)="isForgot = !isForgot"
                  class="alert-link">login</a>
              </div>
              <div *ngIf="submitted && error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
