<div class="grid-container">
  <h1 class="mat-h1">Welcome Admin!</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Classes/Demos</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <img src="assets/event.svg">
            </div>
            <div class="col-8">
              <h2>100</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Tutors #</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <img src="assets/admin/tutors.svg">
            </div>
            <div class="col-8">
              <h2>50</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Total Revenue</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <img src="assets/website/pricing/pricing-1.png">
            </div>
            <div class="col-8">
              <h2>{{1000 | currency:'INR'}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">New Requests</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <img src="assets/website/aboutus/about-2.png">
            </div>
            <div class="col-8">
              <h2>10</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.title === 'Classes'">
            <apx-chart
            [series]="barChart.series"
            [chart]="barChart.chart"
            [dataLabels]="barChart.dataLabels"
            [plotOptions]="barChart.plotOptions"
            [yaxis]="barChart.yaxis"
            [legend]="barChart.legend"
            [fill]="barChart.fill"
            [stroke]="barChart.stroke"
            [tooltip]="barChart.tooltip"
            [xaxis]="barChart.xaxis"></apx-chart>
          </div>
          <div *ngIf="card.title === 'Subscribers'">
            <apx-chart
            [series]="tutorPie.series"
            [chart]="tutorPie.chart"
            [labels]="tutorPie.labels"
            [responsive]="tutorPie.responsive"
          ></apx-chart>
          </div>
          <div *ngIf="card.title === 'Events'">
            <apx-chart
            [series]="eventPie.series"
            [chart]="eventPie.chart"
            [labels]="eventPie.labels"
            [responsive]="eventPie.responsive"
          ></apx-chart>
          </div>
          <div *ngIf="card.title === 'Requests'">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                New Tutor Request by Tutor 1
                <a mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </a>
                <mat-menu #menu="matMenu" xPosition="before">
                  <a mat-menu-item>Accept</a>
                  <a mat-menu-item>Reject</a>
                  <a mat-menu-item>Respond</a>
                </mat-menu>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                New Tutor Request by Tutor 2
                <a mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </a>
                <mat-menu #menu="matMenu" xPosition="before">
                  <a mat-menu-item>Accept</a>
                  <a mat-menu-item>Reject</a>
                  <a mat-menu-item>Respond</a>
                </mat-menu>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                New Tutor Request by Tutor 3
                <a mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </a>
                <mat-menu #menu="matMenu" xPosition="before">
                  <a mat-menu-item>Accept</a>
                  <a mat-menu-item>Reject</a>
                  <a mat-menu-item>Respond</a>
                </mat-menu>
              </li>
            </ul>
          </div>
          <div *ngIf="card.title === 'Recent Activity'">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
               Class Completed by Tutor 1
                <a mat-icon-button class="more-button">
                  <mat-icon>visibility</mat-icon>
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Class Completed By Tutor 2
                <a mat-icon-button class="more-button">
                  <mat-icon>visibility</mat-icon>
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Class Completed By Tutor 3
                <a mat-icon-button class="more-button">
                  <mat-icon>visibility</mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
