.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.card-header{
  background-color: #277ece;
  color: #ffffff;
  font-size: large;
}

.grid-container{
  font-family:'Montserrat, sans-serif' !important;
}

.row .card-body{
  background-color: #279ece;
  color: #ffffff;
}

.col-sm-4 img{
  height: 50px;
}

.col-sm-8 h2{
  text-align: center;
}

@media only screen and (max-width: 768px){
  .col-sm-4{
    text-align: center;
  }

  .col-sm-8{
    vertical-align: middle;
  }

  .col-sm-8 h2{
    margin: 8px 0;
  }
}
