<div class="about-bg">
  <div class="about-text">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 text-left">
          <h2 class="welove-text"> We provide easy ways to exchange <b>Study/Teach</b>.</h2>
          <p class="platform">VidhyaSadhan is a platform to change the way you Study and Teach.</p>
          <a class="btn btn-primary get-start" href="#" role="button"><span>GET STARTED</span></a>
        </div>
        <div class="col-md-6 offset-md-1">
          <img src="assets/dashboard/dashboard-1.png"
             class="about-us-1">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-1">
  <!-- <div class="container p-2 ">
    <div class="row main-margin align-items-center">
      <div class="col-md-6 text-left">
        <h1 class="provider">
          We provide easy ways to exchange <b>Study/Teach</b>.
        </h1>
        <h4 class="platform">
          VidhyaSadhan is a platform to change the way you Study and Teach.
        </h4>
        <button class="start-btn" mat-raised-button><span class="btn-text">Get Started</span></button>
      </div>
      <div class="col-md-6">
        <img class="img img-fluid" src="assets/dashboard/dashboard-1.png">
      </div>
    </div>
  </div> -->
  <div class="container p-2">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <img class="img img-fluid" src="assets/website/home-1.png" srcset="assets/website/home-2.png 2x,
        assets/website/home-3.png 3x">
      </div>
      <div class="col-md-6 text-left">
        <h1 class="dev">
          Welcome to VidhyaSadhan
        </h1>
        <div class="line"></div>
        <div class="dev-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing.
        </div>
        <button class="dev-discover" mat-raised-button>Discover</button>
      </div>
    </div>
  </div>
</div>
<div class="bg-white welcome-card">
  <div class="edu-simple">
    <div class="mid-card">
      <div class="card">
        <!-- <div class="card-header made-simple">
          <h2 class="made-simple-txt">
            Your Education made simple
          </h2>
        </div> -->
        <div class="card-body">
          <h2 class="made-simple-txt">
            Your Education made simple
          </h2>
          <div class="line"></div>
          <div class="card-deck">
            <div class="card border-0">
              <div class="card-body text-center">
                <span class="card-count">01</span>
                <img class="card-img-top" src="assets/website/section3/tutor1.png" srcset="assets/website/section3/tutor2.png 2x,
                assets/website/section3/tutor3.png 3x">
                <h2 class="card-title">All You Need to Start</h2>
                <p class="card-text">Register as a tutor and add to the top searched tutor list.</p>
                <a name="" id="" class="btn btn-light" href="#" role="button">Register as a Tutor ></a>
              </div>
            </div>
            <div class="card border-0">
              <div class="card-body text-center d-flex flex-column">
                <div>

                </div>
                <div class="mt-auto">
                  <span class="card-count">02</span>
                  <img class="card-img-top" src="assets/website/section3/mask-1.png" srcset="assets/website/section3/mask-2.png 2x,
                  assets/website/section3/mask-3.png 3x">
                  <h2 class="card-title">Customize and Extend</h2>
                  <p class="card-text">Get the classrooms/tuitions booked online/offline at your convenience.</p>
                  <a name="" id="" class="btn btn-light" href="#" role="button">Browse For Students ></a>
                </div>
              </div>
            </div>
            <div class="card border-0">
              <div class="card-body text-center">
                <span class="card-count">03</span>
                <!-- <div>
                  <img class="rect-228" src="assets/website/section3/rectangle-228.png" srcset="assets/website/section3/rectangle-228@2x.png 2x, assets/website/section3/rectangle-228@3x.png 3x">
                </div> -->
                <img class="card-img-top" src="assets/website/section3/rectangle-225.png" srcset="assets/website/section3/rectangle-225@2x.png 2x,
                assets/website/section3/rectangle-225@3x.png 3x">
                <h2 class="card-title">Active Community</h2>
                <p class="card-text">VidhyaSadhan is one of the fastest-growing Tution communities.</p>
                <a name="" id="" class="btn btn-light" href="#" role="button">Check your Blogs ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="bg-white">
  <div class="gexp-card flex-row flex-wrap">
    <div class="card-deck">
      <div class="card">
        <div class="card-body text-left">
          <h2 class="card-title great-exp">Great experience with VidhyaSadhan</h2>
          <div class="line m-0"></div>
          <p class="card-text great-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled.</p>
          <button class="dev-discover" mat-raised-button>Discover</button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="img img-fluid" src="assets/event.svg">
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
<div class="role-access">
  <div class="role-card">
    <div class="container">
      <h2 class="role-based">Role-based access control</h2>
      <div class="line"></div>
      <div class="d-flex p-2 justify-content-center">
        <div class="role-1">
          <img class="img img-fluid" src="assets/registration/login-1.svg" alt="">
          <p>Tutor</p>
        </div>
        <div class="role-1">
          <img class="img img-fluid" src="assets/registration/login-2.svg" alt="">
          <p>Student</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog">
  <h2 class="role-based">
    Our Blog
  </h2>
  <div class="line"></div>
  <p class="card-text blog-post">
    Get to know the latest stuff via our blog post.
  </p>
  <div class="blog-content">
    <div>
      <mat-card class="text-left">
        <mat-card-header>
          <mat-card-subtitle>{{date | date}}</mat-card-subtitle>
          <mat-card-title class="how-to">HOW TO FIND BEST TUTOR FOR MY EDUCATION</mat-card-title>
        </mat-card-header>
        <mat-card-content class="how-to-body">
          Lorem ipsum dolor sit amet, magna habemus
          ius ad, qui minimum voluptaria in. Ad mei modus
          quodsi complectitur, postea...
        </mat-card-content>
        <mat-card-actions>
          <button class="readmore-1" mat-button>Read More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="text-left">
        <mat-card-header>
          <mat-card-subtitle>{{date | date}}</mat-card-subtitle>
          <mat-card-title class="refer-10">REFER 10 TUTORS
            RATE IS NOW #400 PER...</mat-card-title>
        </mat-card-header>
        <mat-card-content class="refer-10-body">
          Lorem ipsum dolor sit amet, magna habemus
          ius ad, qui minimum voluptaria in. Ad mei modus
          quodsi complectitur, postea...
        </mat-card-content>
        <mat-card-actions>
          <button class="readmore-2" mat-button>Read More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="text-left">
        <mat-card-header>
          <mat-card-subtitle>{{date | date}}</mat-card-subtitle>
          <mat-card-title class="how-to">CAN I CHOOSE NEAR BY STUDENTS FOR OFFLINE..</mat-card-title>
        </mat-card-header>
        <mat-card-content class="how-to-body">
          Lorem ipsum dolor sit amet, magna habemus
          ius ad, qui minimum voluptaria in. Ad mei modus
          quodsi complectitur, postea...
        </mat-card-content>
        <mat-card-actions>
          <button class="readmore-1" mat-button>Read More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="testimonial-header">
  <div class="testimonial d-flex flex-column justify-content-center">
    <h4 class="satisfied-students">
      10,000 Satisfied Students & Tutors
      around the world
    </h4>
    <p>Yeah! we’re proud with numbers. We’ve helped thousands of students &
      Tutors all around the world with our VidhyaSadhan service. Hover ontop of them pic to view their testimonials.</p>
    <div class="testimonial-img">
      <img [src]="img.image1" *ngFor="let img of images"  [ngClass]="img.style">
      <img [src]="img.image1" *ngFor="let img of images"  [ngClass]="img.style">
      <!-- <ul class="list-inline">
        <li class="list-inline-item" *ngFor="let img of images">
          <img [src]="img.image1"  class="Mask-Group">
        </li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item" *ngFor="let img of images.reverse()">
          <img [src]="img.image1"  class="Mask-Group">
        </li>
      </ul> -->
    </div>
  </div>

</div>
<div class="d-flex flex-column justify-content-center bg-white">
  <div class="download">
    <h2 class="role-based">Download our app</h2>
    <div class="line"></div>
    <p class="download-text">Discover exclusive Learning services with
      our mobile experience.</p>
    <img src="assets/website/Store.png"
       srcset="assets/website/Store-1.png 2x,
       assets/website/Store-2.png 3x"
       class="Store">
  </div>
</div>
<div class="download-mobile">
<div class="d-flex justify-content-center m-auto">
  <img src="assets/website/X-1.png"
       srcset="assets/website/X-1-1.png 2x,
       assets/website/X-1-1.png 3x"
       class="Store p-2">
  <img src="assets/website/X-2.png"
       srcset="assets/website/X-2-1.png 2x,
       assets/website/X-2-2.png 3x"
       class="Store p-2">
</div>
</div>
<!-- <div class="d-flex flex-column justify-content-center bg-white">
  <div class="download subscribe-email">
    <h2 class="role-based">Subscribe our newsletter</h2>
    <p>Subscribe to our newsletter for daily/weekly update of our products and services.</p>
    <div class="form-group row">
      <div class="col-md-8">
        <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Email">
      </div>
      <div class="col-md-4">
        <a class="btn discover-btn" href="#" role="button">Discover</a>
      </div>
    </div>
  </div>
</div> -->

<app-sitesubscribe></app-sitesubscribe>
