<div class="card h-100 m-2">
  <div class="card-header card-header-styles">
    <span class="my-refferal">My Referrals</span>
  </div>
  <div class="card-body sub-card">
    <div class="row ">
      <div class="col-6">
        <h2 class="card-title refer-friends-earn">Refer Friends & Earn Credits</h2>
        <h5 class="card-text text-left introduce-a-friend-t">Introduce a friend to VidhyaSadhan and youi’’ be credited $XX to your account.</h5>
      </div>
      <div class="col-6 text-right">
        <div class="row">
          <div class="col-6">

          </div>
          <div class="col-6">
            <div class="my-credit mb-3 text-center">
              <div class="row">
                  <div class="col-2">

                  </div>
                  <div class="col-8 mt-4">
                    <span class="text-500 mt-3 text-center">
                      $ 500
                    </span>
                    <h4 class="mt-2">
                      My Credits
                    </h4>
                      <div class="transfer-to-earnings mb-2">
                        Transfer to Earnings
                      </div>
                  </div>
                  <div class="col-2">

                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row sub-card-2">
      <div class="col-12 mt-3">

        <label for="basic-url" class="share-my-referral-li">Share my referral link with friends</label>
        <div class="input-group mb-3 width-65">

          <input type="text" class="form-control text-box-styles" id="basic-url"
            placeholder="https://..................." aria-describedby="basic-addon3">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary copyLink" type="button">Copy Link</button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
        <!--Twitter-->
        <button type="button" class="btn btn-tw"><i class="fab fa-twitter pr-1"></i> Twitter</button>
        <!--Google +-->
        <button type="button" class="btn btn-gplus"><i class="fab fa-google-plus-g pr-1"></i> Google +</button>
        <!--Linkedin-->
        <button type="button" class="btn btn-li"><i class="fab fa-linkedin-in pr-1"></i> Linkedin</button>
      </div>
      <div class="col-12">
        <div class="row mt-4">
          <div class="col-6 refferal-card h-100">
            <div class="row">
              <div class="col-4 text-center  my-3">
                <div class="row">
                  <div class="col-11">
                    <span class="refferal-number">
                      19
                    </span>
                    <span>
                      <br>
                      <img class="my-3" src="assets/referrals/referral-signup.png" alt="referral-signup.png" />
                      <br>
                      <span class="referal-signups">
                        Referal Signups
                      </span>
                    </span>
                  </div>
                  <div class="col-1 vertical">
                  </div>
                </div>
              </div>
              <div class="col-4 text-center  my-3">
                <div class="row">
                  <div class="col-11">
                    <span class="refferal-number">
                      12
                    </span>
                    <span>
                      <br>
                      <img class="my-3" src="assets/referrals/noun-meeting-successful.png" alt="noun-meeting-successful.png" />
                      <br>
                      <span class="referal-signups">
                        Referal Signups
                      </span>
                    </span>
                  </div>
                  <div class="col-1 vertical">
                  </div>
                </div>
              </div>
              <div class="col-4 text-center  my-3">
                <div class="row">
                  <div class="col-11">
                    <span class="refferal-number">
                      $5
                    </span>
                    <span>
                      <br>
                      <img class="my-3" src="assets/referrals/noun-earning.png" alt="noun-earning.png" />
                      <br>
                      <span class="referal-signups">
                        Referal Signups
                      </span>
                    </span>
                  </div>
                  <div class="col-1">
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center mb-3">
                 <div class="col-12">
                  <button class="btn btn-primary view-details" (click)="open()">
                    View Details
                  </button>
                 </div> 
            </div>
          </div>
          <div class="col-6 referral-imag-top">
            <img src="assets/referrals/referralsideimage.png" alt="referralsideimage.png" />
    
          </div>
        </div>
      </div>
      <div class="col-12">
          <p class="please-note-that-som mt-3">
            Please note that some Terms and Conditions apply <br>
Your friends will need to verify their identiy before any cash rewards are paid to your account.
          </p>
      </div>
    </div>
   
  </div>
</div>
