.verify{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #20253a;
  margin: 20px;
  overflow :hidden;
  text-align: left;
  line-height: 1.6em;
}

.verify::after{
  display: block;
  float: right;
  margin-top: .8em;
  border-top: 2px solid silver;
  width: 80%;
  content: "";
}

mat-form-field{
  width: 100%;
}

.min-card{
  min-height: 85vh;
}

.payment-header{
  background-color: #f6d9cd;
}

.payment{
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ac0619;
}

.mat-step-label{
  font-family: Montserrat;
  /* font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center; */
  color: #ac0619 !important;
}

.sidecard{
  font-family: Montserrat;
  background-color: #f6d9cd;
}

.sidecard h3{
    font-family: Montserrat;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #20253a;
}

.mat-step-icon{
  color: #ac0619 !important;
  background-color: white !important;
  border: 2px solid;
  border-color: #ac0619 !important;
}

.mat-step-icon-selected{
  color: white !important;
  background-color: #ac0619 !important;
}


.day-margin {
  margin: 0 5px;
}

.summary .row{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.summary .section-1{
  font-family: Roboto;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.08px;
  text-align: left;
  color: #4a4a4a;
}
