/* You can add global styles to this file, and also import other style files */
/* body {
  background: hsla(186, 66%, 40%, 1);
  background: linear-gradient(180deg, hsla(186, 66%, 40%, 0.2) 0%, hsla(188, 39%, 53%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(186, 66%, 40%, 0.2) 0%, hsla(188, 39%, 53%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(186, 66%, 40%, 0.2) 0%, hsla(188, 39%, 53%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#239eab", endColorstr="#59ABB7", GradientType=1);
} */

body{
  background : #ffffff;
  background-image:  linear-gradient(to bottom, #bcdafc -5%, #bcdafc);
}

.home-main{
  height: 100%;
  display: flex;
}

.equal-container{
  display: table;
  width: 100%;
  margin-top: 50px;
}

.equal-col{
  display: table-cell;
}

*{
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0 !important; font-family:'Montserrat, sans-serif' !important;}

.header-bg{ 
  background: hsla(186, 66%, 40%, 1);
  background: linear-gradient(180deg, hsla(186, 66%, 40%, 0.2) 0%, hsla(188, 39%, 53%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(186, 66%, 40%, 0.2) 0%, hsla(188, 39%, 53%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(186, 66%, 40%, 0.2) 0%, hsla(188, 39%, 53%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#239eab", endColorstr="#59ABB7", GradientType=1);
}

.cmg-soon > p{
  font-family: 'Montserrat-Bold','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  font-size: x-large;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: 0.37px;
  color: #3c3c3c;
}

.cmg-soon :last-child{
  color: #c91e3a;
}

.cmg-bg{
  background-image: url("./assets/cmg-bg-3.png");
  background-color: #ffffff;
  background-position: right -5% bottom 20%;
  background-repeat: no-repeat;
  z-index: 1000;
  background-attachment: scroll;
}

.jumbotron{
  background-color: #ffffff;
}

.Bitmap {
  width: 758px;
  height: 847px;
  object-fit: contain;
}


/* .cmg-bg-1{
  background-image: url("assets/cmg-bg.png");
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1000;
  background-attachment: scroll;
} */

.wrapper{
  position: relative;
  height: 100%;
}

/* .wrapper img{
  position: absolute;
  left: 0;
  bottom: 0;
} */

@media only screen and (max-width: 767px){
  .wrapper img{
    position: relative;
  }
}

@media only screen and (max-width: 600px){
  .cmg-bg-1{
    width: 450px;
    height: auto;
  }
}

.equal-container{
  font-family: 'Montserrat' !important;
}

@media only screen and (min-width: 600px){
  .cmg-bg-1{
    width: 530;
    height: auto;
  }
}

.card-text{
  font-family: 'Montserrat-Bold', 'sans-serif';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.21px;
  text-align: center;
  color: #3c3c3c;
}

.card-img-c{
  width: 80px;
  height: 80px;
}

/* .card{
  background: transparent;
} */

.content-c{
  margin: auto;
  justify-content: center;
}

.main-c{
  margin: 0 0 90px 0;
}

@media only screen and (max-width: 576px){
.icon-space > div > .card{
  margin-bottom: 0.5rem;
}
}

@media screen and (max-width: 576px) {
  .main-60{
    width: 100%;
  }

  .main-40{
    width: 100%;
  }

  .oval-copy-left-2,.oval-copy-left-3,
  .oval-copy-right-1, .oval-copy-right-2{
    display: none;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 900px){
  .main-60{
    width: 100%;
  }

  .main-40{
    width: 100%;
  }
}

@media screen and (max-width: 900px){
  .content-c{
    text-align: center;
   }
}

@media screen and (min-width: 900px){
  .main-60{
    width: 60%;
  }

  .main-40{
    width: 40%;
  } 
}

@media screen and (min-width: 1200px){
  .cmg-soon{
    margin: 2rem;
  }
}

.vidhya-sandhhan{
  width: 200px;
}

@media screen and (min-width: 576px){
  .vidhya-sandhhan{
    padding: 0 1rem;
    width: 250px;
  }

  .cmg-soon > p{
    font-size: 32px;
  }

  .jumbotron {
    padding: 2rem 2rem 0 2rem;
  }
}

.main-100{
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-wrap: wrap;
}


.card-400 {
  max-width: 400px;
 }
 
 .card-500 {
   max-width: 500px;
 }
 

 .login-side{
  background-image: url("/vidhyasadhan-ui/assets/registration/register-1.png");
  background-image: 
    -webkit-image-set(
      url("/vidhyasadhan-ui/assets/registration/register-1.png") 1x,
      url("/vidhyasadhan-ui/assets/registration/register-2.png") 2x,
      url("/vidhyasadhan-ui/assets/registration/register-3.png") 3x,
    );
  background-image: 
    image-set(
      url("/vidhyasadhan-ui/assets/registration/register-1.png.png") 1x,
      url("/vidhyasadhan-ui/assets/registration/register-2.png.png") 2x,
      url("/vidhyasadhan-ui/vidhyasadhan-ui/assets/registration/register-3.png.png") 3x,
    );
    /* min-height: 400px; */
    /* display: inline-block; */
    /* width: 100%; */
    /* font-size: 0; */
    line-height: 0;
    vertical-align: middle;
    /* background-size: 100%; */
    background-position: 90% 50%;
    background-repeat: no-repeat;
}

.oval-copy-left-1{
  position: absolute;
  left: 6%;
  z-index: -1;
  top: 10%;
}

.oval-copy-left-2{
  position: absolute;
  z-index: -1;
  left: 15%;
}

.oval-copy-left-3{
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.oval-copy-right-1{
  position: absolute;
  top: -40px;
  right: 0;
  z-index: -1;
}

.oval-copy-right-2{
  position: absolute;
  top: 350px;
  right: 0;
  z-index: -1;
}

.oval-copy-right-3{
  position: fixed;
  right: 0;
  z-index: -1;
  bottom: 0;
}

.bottom-icon{
  position: fixed;
  z-index: -1;
  opacity: 0.8;
}

.bg-tutor-primary{
 background-color: #a4caf8;
}

.bg-student-secondary{
  background-color: #a4caf8;
 }