<div class="container-fluid">
  <mat-card class="m-2">
    <mat-card-header>
      <mat-card-title>{{demo?.title}}</mat-card-title>
      <mat-card-subtitle>{{demo?.locationName}}</mat-card-subtitle>
      <mat-card-subtitle><a [href]="demo?.calendarEvent?.videoLink">{{demo?.calendarEvent?.videoLink}}</a>
      </mat-card-subtitle>
      <span class="ml-auto">
        <mat-card-title>{{demo?.startDate | date: 'medium'}} - {{demo?.endDate | date: 'medium'}}</mat-card-title>
      </span>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            New Requests
          </mat-expansion-panel-header>
          <app-demolist [demoId]="courseId"></app-demolist>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Enrolled Students
          </mat-expansion-panel-header>
          <table mat-table #table [dataSource]="enrollments">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let row">
                <img class="img-responsive" src="assets/demo/avatar.png">
                {{row.name}}
              </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
