<div class="card">
  <div class="card-header">
    <div class="demo-header"> 
      <div class="d-flex">
        <a (click)="returnToList()"><mat-icon>west</mat-icon></a>
        <div>
          <div class="header-title">{{demo?.title}}</div>
          <div class="header-subtitle">{{demo?.locationName}}</div>
          <div class="header-subtitle"><a [href]="demo?.calendarEvent?.videoLink">{{demo?.calendarEvent?.videoLink}}</a>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex flex-column text-center">
          <p class="header-title">{{demo?.startDate | date}} - {{demo?.endDate | date}}</p>
          <p class="header-subtitle">{{demo?.startTime}} - {{demo?.endTime}}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <!-- <div class="card-title">
        Enrolled Students
      </div> -->
    <table mat-table #table [dataSource]="enrollments">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let row">
          <img class="img-responsive" src="assets/demo/avatar.png">
          {{row.name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            New Requests
          </mat-expansion-panel-header>
          <app-demolist [demoId]="courseId"></app-demolist>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Enrolled Students
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion> -->
  </div>
</div>