<div class="team bg-white">
  <div class="news-letter">
  <h2 class="history-text">Subscribe our newsletter</h2>
  <div class="line"></div>
    <p class="subscribe-text">Subscribe to our newsletter for daily/weekly update of our products and services.</p>
    <form class="form-inline justify-content-center">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Email</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-discover btn-primary mb-2">Discover</button>
    </form>
  </div>
</div>
