<div class="about-bg">
  <div class="about-text">
    <div class="container">
      <div class="row">
        <div class="col-md-5 offset-md-1 text-left">
          <p class="about-us">HOME/CONTACT US</p>
          <h2 class="welove-text">We provide 24/7 Customer support Including weekends.</h2>
          <p class="platform">VidhyaSadhan is a platform to change the way you Study and Teach.</p>
          <a class="btn btn-primary get-start" href="#" role="button"><span>GET STARTED</span></a>
        </div>
        <div class="col-md-5 offset-md-1">
          <img src="assets/website/contact/contact.png"
            srcset="assets/website/contact/contact-1.png 2x,assets/website/contact/contact-2.png 3x"
            class="about-us-1">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white p-2">
  <div class="contact-us">
    <h2 class="welove-devtext">Conatct  Us VidhyaSadhan</h2>
    <h4 class="reply">Please note that all message will be replied within the next 12hours</h4>
    <form>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Name*">
        </div>
        <div class="col">
          <input type="email" class="form-control" placeholder="Email*">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <textarea placeholder="Your Comment" class="form-control"></textarea>
        </div>
      </div>
      <a class="btn btn-primary publish" href="#" role="button"><span>PUBLISH</span></a>
    </form>
  </div>

</div>

<div class="bg-white p-2">
  <div class="contact-us">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <div class="card">
            <div class="card-body text-left">
              <ul class="list-unstyled map-list">
                <li><span><mat-icon>place</mat-icon></span><span>4602  Austin Avenue Victoria Island Lagos Nigeria</span></li>
                <li><span><mat-icon>phone</mat-icon></span><span>(+91) 912-332-6685</span></li>
                <li><span><mat-icon>email</mat-icon></span><span>support@vidhyasadhan.com</span></li>
              </ul>
            </div>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
